@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --primary: #1d3557;
    --secundary: #73C6B6;
    --lightBlue: #457B9D;
    --info: #A8DADC;
    --danger: #E63946;
    --success: #28B463;
    --warning: #FFA726;
    --white: #fff;
    --dark: #212121;
}

* {
    margin: 0;
    padding: 0;
    color: var(--dark);
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}


/* Seccion de header */

#header {
    background: #2a9d8f;
    width: 100%;
    height: 100px;
    position: absolute;
}

header h1 {
    position: relative;
    top: 25px;
    left: 16px;
    color: #fff;
}


/* FIN de Seccion de header */


/* Seccion de nav */

.nav {
    height: 50px;
    width: 100%;
    background-color: #001f27;
    position: relative;
    padding: 0px 40px;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px;
    text-decoration: none;
    color: white;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}


/* Navbar en movil o con pantalla menor a 900px */

@media (max-width:900px) {
    .nav {
        padding: 0px;
    }
    .nav>.nav-header>.nav-title {
        font-size: 1.2rem;
    }
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(2, 90, 117, 0.808);
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid white;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgba(2, 90, 117, 0.808);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden !important;
        top: 50px;
        left: 0px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
        text-align: center;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}


/* FIN de Seccion de nav */


/* Seccion de button nav */


/* Botón de registro dentro del menú hamburguesa */

#btn-registrar {
    border: 1px solid var(--secundary);
    /* Anchura, estilo y color borde */
    padding: 10px;
    /* Espacio alrededor texto */
    background-color: var(--secundary);
    /*color botón*/
    color: var(--primary);
    /* Color texto */
    font-family: 'Lato', sans-serif;
    /* Tipografía texto */
    border-radius: 50px;
    /* Bordes redondos */
    margin: auto;
    /* Alineación del margen */
}


/* FIN de Seccion de button nav */


/* Seccion de form */

section.section-form {
    padding: 20px;
    background-color: var(--lightBlue);
}

form#form-registro {
    background-color: var(--white);
    border: 1px solid rgba(165, 165, 165, 0.198);
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 6px var(--dark);
    padding: 0 20px 20px;
}

form#form-registro label {
    font-weight: 600;
}

form div.form-header {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid rgba(165, 165, 165, 0.198);
    border-color: var(--primary);
    color: var(--primary);
}

form div.form-seccion {
    margin: 15px 0;
    padding-top: 5px;
}

.form-input {
    background-color: var(--white);
    border-radius: 5px;
    border-color: var(--primary);
    border-style: solid;
    width: 90%;
    height: 25px;
    margin-top: 10px;
}

.form-input:focus {
    background-color: rgba(211, 211, 211, 0.13);
}

input[type="radio" i].form-radio {
    margin: 5px;
    margin-top: 10px;
}


/* FIN de Seccion de form */


/* Seccion de boton del form */

form input[type="submit" i].form-btn-enviar {
    position: relative;
    background-color: var(--success);
    color: var(--white);
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    left: 30%;
    box-shadow: 3px 3px 4px var(--dark);
    font-weight: 600;
    font-size: 1.2em;
    transition: 500ms;
}

form input[type="submit" i].form-btn-enviar:hover {
    background-color: var(--secundary);
    color: var(--primary);
    transform: scale(1.2);
}


/* FIN de Seccion de boton del form */